{# templates/tree/questions.html.twig #}
<br/>
<div class="container">
    <div class="card justify-content-center">
        <h5 class="card-header bg-dark text-white">Questions</h5>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover ">
                    <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for qa in questions %}
                        <tr>
                            <td>{{ qa.question }}</td>
                            <td>{{ qa.answer }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>